.logout {
  border-left: 1px solid #fff;
  padding: 15px 37px;
  float: left;
}
.name {
  padding: 15px 37px;
  float: left;
}
.clearfix {
  display: table;
  clear: both;
}
.poweroff {
  padding-left: 5px;
}
